:root {
  --default-size: 1.6rem;
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-secondary: #49a36b;
  --color-secondary2: rgb(33, 73, 49);
  --color-secondary-light2: rgb(119, 218, 156);
  --color-secondary3: rgb(108, 170, 37);
  --color-secondary3-opaco: rgba(61, 252, 134, 0.5);
  --color-secondary-light: rgb(97, 182, 189); /* rgb(127, 159, 156); */
  --color-secondary-dark: rgb(6, 31, 13);
  --color-secondary-2: #26a69a;
  --color-secondary-light-2: rgb(45, 204, 188);
  --color-secondary-dark-2: rgb(33, 141, 130);
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-gold-light: rgb(162, 159, 124);
  --color-gold-dark: #f5be88;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #444;
  --color-grey-dark-3: #777;
  --color-grey-dark-4: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --grid-width: 114rem;
  --gutter-vertical: 8rem;
  --gutter-vertical-small: 6rem;
  --gutter-horizontal: 6rem;
  --text-body: "Lato", sans-serif;
  --text-heading: "Playfair Display", serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
} /* 1rem = 10px */

body {
  font-family: var(--text-body);
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-grey-dark-2);
  /*   overflow: hidden; */
}

nav ul a,
nav .brand-logo {
  color: var(--color-secondary-dark);
  font-size: 1.4rem;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: var(--color-secondary);
}

.list-inline {
  display: flex;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media (max-width: 900px) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media (max-width: 900px) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-xsmall {
  margin-top: 2rem !important;
}
.u-margin-top-small {
  margin-top: 4rem !important;
}
.u-margin-top-medium {
  margin-top: 6rem !important;
}
.u-margin-top-big {
  margin-top: 8rem !important;
}
.u-margin-top-huge {
  margin-top: 10rem !important;
}

.heading-secondary {
  font-family: var(--text-heading);
  font-weight: bold;
  font-size: 3.5rem;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(
    to top,
    var(--color-grey-light-1),
    var(--color-grey-light-1)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
}

.heading-secondary-white {
  font-family: var(--text-heading);
  font-size: 3.5rem;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(
    to top right,
    var(--color-secondary-light),
    var(--color-secondary-dark)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
}

.heading-tertiary {
  font-family: var(--text-body);
  font-size: var(--default-size); /*  16px */
  text-transform: uppercase;
  font-weight: bold;
}

.bg-dark {
  background-color: var(--color-grey-dark-2);
  color: var(--color-grey-light-3);
}

.bg-light {
  background-color: var(--color-grey-light-3);
  color: var(--color-grey-dark-2);
}

.green {
  color: var(--color-secondary) !important;
}

/* NAVBAR */

.navbar {
  background-color: #fff;
}

nav ul a:hover {
  background-color: var(--color-secondary);
  color: var(--color-grey-light-1);
  transition: all 0.3s ease;
}

.logo {
  width: 4rem;
  height: 4rem;
  margin-top: 1.2rem;
}

.material-icons {
  font-size: 3rem !important;
}

/* SHOWCASE */
.showcase-hero {
  height: 92vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.6)
    ),
    url("../img/showcase.jpg");

  background-size: cover;
  background-position: bottom;

  position: relative;
}

.showcase__text-box {
  height: inherit;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.showcase-primary {
  color: var(--color-grey-light-1);
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.showcase-primary--main {
  font-family: var(--text-heading);
  display: block;
  font-size: 6rem;
  letter-spacing: 2rem;
  line-height: 1.2;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.showcase-primary--sub {
  font-family: var(--text-heading);
  display: block;
  font-size: 2rem;
  letter-spacing: 1.5rem;
  animation: moveInRight 1s ease-out;
  padding-top: 3rem;
}

/* HISTORY */
#heading-history {
  font-family: var(--text-heading);
  background: linear-gradient(
    to top,
    var(--color-secondary2),
    var(--color-secondary)
  );
  padding: 8rem 0 15rem 0;
  color: var(--color-grey-light-1);
}

.container-history {
  font-family: var(--text-body);
  display: flex;
  max-width: 80%;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .container-history {
    flex-direction: column;
    width: 100%;
    align-self: center;
  }
}

.container-history:not(:last-child) {
  margin-bottom: var(--gutter-vertical);
}

.history-text {
  max-width: 35%;
}

@media (max-width: 900px) {
  .history-text {
    max-width: 50rem;
    padding: 0 3rem;
    align-self: center;
  }
}

.history-text p {
  font-size: 1.4rem;
}

.history-img {
  width: 100%;
  padding-left: 6rem;
}

@media (max-width: 900px) {
  .history-img {
    max-width: 50rem;
    padding: 0 3rem;
    align-self: center;
  }
}

/* AMBIENTI */

#heading-ambienti {
  height: 100%;
  width: 100%;
  font-family: var(--text-heading);
  background: linear-gradient(
    to bottom,
    var(--color-secondary2),
    var(--color-secondary)
  );
  padding: 8rem 0 7rem 0;
  color: var(--color-grey-light-1);
}

.description {
  display: grid;
  align-content: space-between;
  height: 100%;
  font-family: var(--text-body);
  color: inherit;
  padding: 2.5rem 10rem;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.description p {
  font-size: 1.6rem;
  line-height: 2.5rem;
  text-align: justify;
}

/* EVENTI */
#heading-eventi {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  padding: 10rem 0;
  background-color: var(--color-grey-light-3);
}

/* .triangle {
  position: relative;
  top: -25rem;
  height: 30rem;
  z-index: -1;
  background-color: var(--color-secondary);
  -webkit-clip-path: polygon(63% 69%, 50% 100%, 36% 69%);
  clip-path: polygon(63% 69%, 50% 100%, 36% 69%);
} */

/* SERVIZI */
#servizi-section {
  padding: 10rem 0;
  background-image: linear-gradient(
      to bottom,
      rgba(73, 163, 107, 0.8),
      rgba(73, 163, 107, 0.1)
    ),
    url(../img/ambienti/sala_oro/01_sala_oro.jpg);
  background-size: cover;
  background-position: bottom;
  /*  transform: skewY(-7deg); */
  /* -webkit-clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 100%, 0 100%); */
}

/* CONTATTI FORM */
.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to bottom,
    var(--color-secondary),
    var(--color-secondary2)
  );
}

.book {
  background-image: linear-gradient(
      70deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 50%,
      transparent 50%
    ),
    url(../img/esterno.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.8);
}

.book__form {
  width: 50%;
  padding: 6rem;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

/* FOOTER */
.page-footer {
  font-family: var(--text-body);
  background: var(--color-secondary-dark);
}

.social-icon:hover {
  transform: scale(1.3);
}

.social-icon:not(:last-child) {
  margin-right: 2rem;
}

.icon-google {
  width: 2.9rem;
  height: 2.9rem;
}
